.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 6rem 1rem; // Kim - increased padding to show full height of background image
  // background-color: var(--color-primary);
  background-image: url('images/bottom-river-long-blue-01.png');
  // Kim - Commenting out to remove the banner in the footer
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2fbf7' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  //background-repeat: repeat-x;
  background-size: cover; // Kim - added to make the background image take up the space
  background-position: center bottom; // Kim - added to make the background image visible
  color: $color-secondary;

  // Kim - Commenting out to remove S monogram in the footer
  /*&::before {
    @include logomark;

    position: absolute;
    left: 50%;
    width: 2em;
    transform: translate(-50%, -100%);
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: 3rem;
    content: "S";
  }*/

 

  p:first-child {
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: inherit;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
    font-size: $font-size-h4;
    z-index: 5;
  }

  .container > :last-child {
    margin-bottom: 3rem; // Kim - I raised the footer text to be above the water
  }

  /* Footer foam animated - Kim */

  @keyframes pulsing-foam {
    0%{
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
    50% {
      transform: translateX(-50%) scale(1.1);
      opacity: 0.85;
    }
    100% {
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
  }

  ul::after {
    content: "";
    position: absolute;
    left: 12%;
    bottom: 85px;
    width: min(2500px, 100vw);
    height: 300px;
    background-image: url('../images/bottom-river-long-foam.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    transform: translateX(-50%) translateY(-10px) scale(1);
    animation: pulsing-foam 2s infinite;
    z-index: -1;
  }

  /* Footer water animated - Kim */

  @keyframes flowing-water {
    from {left: 30%;}
    to {left: 60%;}
  }

  .container::after {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 22px;
  width: min(800px, 80vw);
  height: 15px;
  background: white;
  border-radius: 300px / 12.5px;
  filter: blur(1px);
  z-index: 2;
  animation: flowing-water 4s ease-in-out infinite alternate;
}

}
