.page-footer {
  position: relative;
  overflow: hidden;
  padding: 6rem 1rem;
  background-image: url('images/bottom-river-blue.png'); // Water and foam background
  background-size: cover;
  background-position: center bottom;
  color: white;
  padding-right: 0; 

  p:first-child {
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: inherit;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
    font-size: $font-size-h4;
    z-index: 5;
  }

  .container {
    background-color: rgba($color: $color-mountain-dark-green, $alpha: 0.7);
    box-shadow: 0px 0px 5px 20px rgba($color: $color-mountain-dark-green, $alpha: 0.7);
    margin-right: 0;
    padding: 2em;
    @media(max-width: 810px){
      margin: auto; // Center the footer content on mobile -Sheyla
    }
  }

  .container > :last-child {
    margin-bottom: 3rem;
  }

  /* Footer foam animated -Kim */

  @keyframes pulsing-foam {
    0% {
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
    50% {
      transform: translateX(-50%) translateY(-30%) scale(1.5);
      opacity: 0.85;
    }
    100% {
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
  }

  ul::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 13%;
    width: min(2500px, 100vw);
    height: 300px;
    background-image: url('images/bottom-river-long-foam.png'); // Pulsing foam background
    background-repeat: no-repeat;
    background-position: right bottom;
    transform: translateX(-50%) translateY(-10px) scale(1);
    animation: pulsing-foam 4s infinite;
    z-index: -1;
    @media(max-width: 2400px){
      left: 45%;
      bottom: 7%;
    }
    @media(max-width: 1520px){
      left: 55%;
      bottom: 0;
      background-size: 80% auto;
      background-position: left bottom;
    }
  }

  /* Footer water animated -Kim */

  @keyframes flowing-water {
    from {left: 30%;}
    to {left: 60%;}
  }

  .container::after {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 22px;
  width: min(800px, 80vw);
  height: 15px;
  background: white;
  border-radius: 300px / 12.5px;
  filter: blur(1px);
  z-index: 2;
  animation: flowing-water 4s ease-in-out infinite alternate;
  }

  @media(max-width: 2020px) {
    .container::after {
      left: 10%;
      width: min(600px, 70vw);
    }
  }

  @media(max-width: 1240px) {
    .container::after {
      bottom: 12px;
      width: 350px;
      height: 10px;
    }
  }

  @media(max-width: 700px) {
    .container::after {
      left: 0;
      bottom: 5px;
    }
  }
}
