// stylelint-disable no-descending-specificity
body {
  background-image: url('images/waterfall-blue-long-02.png');
  background-repeat: repeat-y; // Kim - repeat the image vertically
  background-color: white; // Kim - changed to white so the footer image would show
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-text);
  font-family: var(--font-family);
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}

article {
  section {
    // display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}
