html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-image: url('images/waterfall-blue-long-03.png'), // Waterfall background
                    linear-gradient($color-primary, $color-background, $c3); //Gradient color background
  background-repeat: repeat-y, no-repeat;
  background-position: center center, center center;
  background-attachment: fixed, scroll;
  background-size: cover, cover;
  color: var(--color-text);
  font-family: var(--font-family);
  animation: waterfall-move 15s linear infinite; // Sheyla- Waterfall animation
  @media(max-width: 600px){
        animation: waterfall-move 1s linear infinite; // Sheyla- Waterfall animation
    }
}

/* Sheyla- Waterfall animation */

@keyframes waterfall-move {
 
    from {
    background-position: 0 100% ; 
  }
  to {
    background-position: 0 0 ;
  }
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}


article {
  section {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 4em; // Sheyla- Margin to separate sections
    background-color: rgba($color: $color-mountain-dark-green, $alpha: 0.7);
    box-shadow: 0px 0px 5px 20px rgba($color: $color-mountain-dark-green, $alpha: 0.7);
    h2, p, ol, blockquote {
      color: white;
    }
    h3, a {
      color: $color-secondary;
    }
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 810px) {
      max-width: 80%;
    }

    h2 {
      color: $color-secondary;
      
    }
  }
}

#styles h2 {
  font-family: var(--font-family-title);
  font-size: 5em;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}
