// stylelint-disable no-descending-specificity
body {
  
  // background-image: url('images/waterfall-blue-long-02.png'), //Sheyla- added below the waterfall image with less space on the left
  background-image: url('images/waterfall-blue-long-03.png'),
                    linear-gradient($color-primary, $color-background, $c3); // Kim - changed to white so the footer image would show
  background-repeat: repeat-y, no-repeat; // Kim - repeat the image vertically
  background-position: center center, center center;
  background-attachment: fixed, scroll;
  background-size: cover, cover;
  color: var(--color-text);
  font-family: var(--font-family);
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}


article {
  section {
    // display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: rgba($color: $color-mountain-dark-green, $alpha: 0.7);
    box-shadow: 0px 0px 5px 20px rgba($color: $color-mountain-dark-green, $alpha: 0.7);
    h2, p, ol, blockquote {
      color: white;
    }
    h3, a {
      color: $color-secondary;
    }
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
    h2 {
      color: $color-secondary;
      
    }
  }
}

#styles h2 {
  font-family: var(--font-family-title);
  font-size: 5em;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}
