nav {

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 1rem 2rem;
    list-style: none;
    //background-color: lighten($color-primary, 20%);
    //border-top: 2px solid white;
    //border-bottom: 2px solid white;

    li {
      margin: 0 0.25rem;
      font-size: 1.75rem;
    }

    a {
      position: relative;
      display: inline-grid;
      margin: 1rem 0;
      padding: .5rem 1.5rem;
      color: var(--color-secondary);
      z-index: 0;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid $color-secondary;
        border-bottom: 2px solid $color-secondary;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
        z-index: 1;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-secondary;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
      }

      &:hover {
        color: #fff;
        &::before {
          transform: scaleY(1);
          opacity: 1;
        }
        &::after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}
      /*&::before {
        width: 100%;
        height: 0.33em;
        background-color: var(--color-secondary);
        opacity: 0.15;
        content: "";
      }

      &:hover::before,
      &:focus::before {
        opacity: 1;
      }*/

 
