nav {

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 2rem;
    list-style: none;

    li {
      margin: 0.25rem;
      font-size: 1.75rem;
    }

    a {
      position: relative;
      display: inline-grid;
      padding: 0.5rem;
      color: var(--color-secondary);
      
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-top: 2px solid $color-moss;
        border-bottom: 2px solid $color-moss;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
      }
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $color-primary-alt;
;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
      }

      &:hover {
        color: #fff;
        &::before {
          transform: scaleY(1);
          opacity: 1;
        }
        &::after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}
      /*&::before {
        width: 100%;
        height: 0.33em;
        background-color: var(--color-secondary);
        opacity: 0.15;
        content: "";
      }

      &:hover::before,
      &:focus::before {
        opacity: 1;
      }*/

 
