:root {

  // Sheyla- All the code inside :root is for the background patterns in the features section

    //pattern 1:
  --sa: 13px; /* control the size of feature background 3*/
    --c1a: #68998a;
    --c2a: #457f6f;//--color-mountain-dark-green;
    --c1: #604b38; //--color-tree-trunk;
    --c2: #68998a; //--color-mountain-light-green;
    --darkgreen: #457f6f; //--color-mountain-dark-green;
    --c:var(--c1a) 99%,#0000 101%;
  
    //pattern 2:

    --s: 22px; /* control the size*/
  
  //copy of above:
  --b: calc(var(--s)/2.67); /* control the thickness of the wavy line */
  
  --_r: calc(1.28*var(--s) + var(--b)/2) at left 50%;
  --_f: calc(100% - var(--b)),var(--c1) calc(101% - var(--b)) 100%,#0000 101%;
  --g0: calc(-.8*var(--s)),var(--var(--c2)) var(--_f);
  --g1: calc(-.8*var(--s)),var(--c3) var(--_f);
  --_s: calc(1.5*var(--s) + var(--b));
}

.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  
  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
  li {
    display: grid;
    position: relative;
    place-content: center;
    min-height: 12rem;
    padding: 1rem;
    color: var(--color-light);
    text-align: center;

    > span {
      display: grid;
      place-content: center;
      padding: 0.5em;
      grid-gap: 0.5rem;
      border: 1px solid var(--color-light);
      background-color: var(--color-secondary);
      line-height: 1.1;

      a {
        color: inherit;
        font-size: 1.3rem;
        font-weight: var(--font-weight-strong);
        text-decoration: none;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";

          
        }
      }

      span:nth-child(2) {
        position: relative;
      }
    }
  }

  :hover  {
    background-color: var(--darkgreen);
  }
}

#styles {
  margin: 5vh 0;
  text-align: center;

  h2 {
    color: var(--color-primary);
  }
}

#styles .features,
.features.patterned {
   
  li {
    background:
      conic-gradient(at 25% 75%,#0000 25%,var(--color-primary) 0)
      calc(var(--s)/-8) calc(var(--s)/8)/var(--s) var(--s),
      radial-gradient(50% 50%,var(--color-primary) 24%,var(--color-secondary) 26% 74%,#0000 76%) 
      0 0/var(--s) var(--s),
      conic-gradient(var(--color-primary) 75%,var(--color-secondary) 0) 
      calc(var(--s)/2) calc(var(--s)/2)/
      calc(2*var(--s)) calc(2*var(--s));
    
      &:hover{
        border: 2px solid var(--color-light);
      } 

    @media (min-width: 515px) and (max-width: 765px) {
      &:nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
      }
    }

    &:nth-child(2) {
      //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      //new pattern - Sheyla

      // --s: 22px; /* control the size*/
      // --c1: #604b38;
      // --c2: #68998a;
      // --c3: #457f6f;
      
      // --b: calc(var(--s)/2.67); /* control the thickness of the wavy line */
      
      // --_r: calc(1.28*var(--s) + var(--b)/2) at left 50%;
      // --_f: calc(100% - var(--b)),var(--c1) calc(101% - var(--b)) 100%,#0000 101%;
      // --g0: calc(-.8*var(--s)),var(--c2) var(--_f);
      // --g1: calc(-.8*var(--s)),var(--c3) var(--_f);
      // --_s: calc(1.5*var(--s) + var(--b));

      // background: 
      //   radial-gradient(var(--_r) bottom var(--g0)) calc(2*var(--s)) calc(-1*var(--_s)),
      //   radial-gradient(var(--_r) bottom var(--g1)) calc(-1*var(--s)) calc(var(--_s)/-2),
      //   radial-gradient(var(--_r) top    var(--g1)) 0 var(--_s),
      //   radial-gradient(var(--_r) top    var(--g0)) var(--s) calc(var(--_s)/ 2),
      //   linear-gradient(var(--var(--c2)) 50%,var(--c3) 0);
      // background-size: calc(4*var(--s)) var(--_s);
    }

    &:nth-child(3) {
      //background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      //new pattern - Sheyla

      //  background:
      //   radial-gradient(var(--sa) at 100% 100%,var(--c)),
      //   radial-gradient(var(--sa) at 100% 0   ,var(--c)) calc(3*var(--sa)/2) 0,
      //   radial-gradient(var(--sa) at 0    100%,var(--c)) calc(  var(--sa)/2) 0,
      //   radial-gradient(var(--sa) at 0    0   ,var(--c)) calc(2*var(--sa)) 0
      //   var(--var(--c3));
      // background-size: calc(3*var(--sa)) calc(5*var(--sa)/2);
    }
    
  }
}


