:root {
  --s: 22px; /* control the size of features pattern*/ 
}

.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  
  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
  li {
    display: grid;
    position: relative;
    place-content: center;
    min-height: 12rem;
    padding: 1rem;
    color: var(--color-light);
    text-align: center;

    > span {
      display: grid;
      place-content: center;
      padding: 0.5em;
      grid-gap: 0.5rem;
      border: 1px solid var(--color-light);
      background-color: var(--color-secondary);
      line-height: 1.1;

      a {
        color: inherit;
        font-size: 1.3rem;
        font-weight: var(--font-weight-strong);
        text-decoration: none;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";

          
        }
      }

      span:nth-child(2) {
        position: relative;
      }
    }
  }

  :hover  {
     background-color: $color-mountain-dark-green;
    
  }
}

#styles {
  margin: 5vh 0;
  text-align: center;

  h2 {
    color: var(--color-primary);
  }
}

#styles .features,
.features.patterned {
   
  li {
    background:
      conic-gradient(at 25% 75%,#0000 25%,var(--color-primary) 0)
      calc(var(--s)/-8) calc(var(--s)/8)/var(--s) var(--s),
      radial-gradient(50% 50%,var(--color-primary) 24%,var(--color-secondary) 26% 74%,#0000 76%) 
      0 0/var(--s) var(--s),
      conic-gradient(var(--color-primary) 75%,var(--color-secondary) 0) 
      calc(var(--s)/2) calc(var(--s)/2)/
      calc(2*var(--s)) calc(2*var(--s));
    
      &:hover{
        border: 2px solid var(--color-light);
      } 

    @media (min-width: 515px) and (max-width: 765px) {
      &:nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
      }
    }    
  }
}


