header {
  display: grid;
  min-height: 40vh;
  place-items: center;
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;
  color: var(--color-primary);
  text-align: center;
}

header .container {
  background-image: url('images/mountains-background-02.png'); // Mountain background in header            
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 135vh;
  position: relative;
  padding-top: 5%;

  @media(max-width: 1300px) {
    height: 1800px;

  }
  @media(max-width: 768px) {
    height: 100vh;
    h2, p {
      background-color: rgba($color: $color-mountain-dark-green, $alpha: 0.7);
      box-shadow: 0px 0px 5px 20px rgba($color: $color-mountain-dark-green, $alpha: 0.7);
    }
  }

  h1{
    width: 100%;
    z-index: 1;
    color: $color-secondary;
  }

  h2{
    font-size: 2.5rem;
    z-index: 10;
    color: black;
  }

  p {
    width: 100%;
    z-index: 10;
    color: black;
    a {
      color: black;
    }
  }
}



