header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;

  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  // Kim - Commenting this out removed the banner of flags at the top
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    //url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;
  color: var(--color-primary);
  text-align: center;

  // h1 {
  //   @include logomark; 
  // }

  // h2 {
  //   max-width: 30ch;
  // }

  // background-image: url('../images/mountains-green-01.png');
  // height: 3000px;
}

header .container {
  background-image: url('images/mountains-green-01.png'); // this is where we styled the images for the header.
  height: 4000px;
  width: 100%;
  position: relative;
  h1{
    background-image: url('images/tree-green-01.png');
    position: absolute;
    height: 4000px;
    width: 100%;
    z-index: 1;
    padding-top: 1em;
  }
  h2{
    background-image: url('images/hill-brown-01.png');
    position: absolute;
    height: 4000px;
    width: 100%;
    z-index: 10;
    padding-top: 7em;
  }
  p {
    position: absolute;
    height: 4000px;
    width: 100%;
    z-index: 10;
    padding-top: 25em;
  }

  .link-github {
    margin-top: 29em; // this is where we edited the margin for the github button in the header.
  }

}



