.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

[class^="link"] {
  min-height: 3em;
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1.5em; // Round buttons
}

[class^="link"],
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    transform: rotate(-10deg);
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }
}

.page-footer [class^="link"] {
  width: 100%;
  min-height: 2.5em;
  background-color: $color-secondary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.link-allstyles {
  font-size: var(--font-size-h4);
}

.link-github {
  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
